*{
	box-sizing: border-box;
}

html, body{
	height: 200%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

}

h1{
	margin: 1rem 0;
}

section{
	position: relative;
	background: lightgrey;
	border-bottom: 1px solid #000;
	height: 600px;
	margin-top: 2rem;

}

.wrapper{
	max-width: 600px;
	margin: auto;
}

.row{
	width: 100%;
	/* bleibt 'cheff' von box, box wird innerhalb des Kartons verschoben */
}

.col{
	width: 200px;
	height: 200px;
}

.electric-purple{
	background: #C200FB;
	position: absolute;
	/*position wird verändert, objekt kann verschoben werden*/
	top: 0;
	right: 0;
	z-index: 2;
}

.raspberry{
	background: #EC0868;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;

}

.ferrari-red{
	background: #FC2F00;
position:absolute;
right: 50px;
top:50px;
z-index: 3;

}
.black{
	background: black;
	position: fixed;
	top: 0;
	left: 0;
}
